@font-face {
    font-display: swap; 
    font-family: 'SFProDisplay';
    font-style: normal;
    font-weight: 100;
    src: url('../fonts/SFProDisplay-UltralightItalic.woff') format('woff'); 
}
@font-face {
    font-display: swap; 
    font-family: 'SFProDisplay';
    font-style: normal;
    font-weight: 100;
    src: url('../fonts/SFProDisplay-UltralightItalic.woff2') format('woff2'); 
}
@font-face {
    font-display: swap; 
    font-family: 'SFProDisplay';
    font-style: normal;
    font-weight: 200;
    src: url('../fonts/SFProDisplay-ThinItalic.woff') format('woff'); 
}
@font-face {
    font-display: swap; 
    font-family: 'SFProDisplay';
    font-style: normal;
    font-weight: 200;
    src: url('../fonts/SFProDisplay-ThinItalic.woff2') format('woff2'); 
}
@font-face {
    font-display: swap; 
    font-family: 'SFProDisplay';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/SFProDisplay-LightItalic.woff') format('woff'); 
}
@font-face {
    font-display: swap; 
    font-family: 'SFProDisplay';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/SFProDisplay-LightItalic.woff2') format('woff2'); 
}
@font-face {
    font-display: swap; 
    font-family: 'SFProDisplay';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/SFProDisplay-Regular.woff') format('woff'); 
}
@font-face {
    font-display: swap; 
    font-family: 'SFProDisplay';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/SFProDisplay-Regular.woff2') format('woff2'); 
}
@font-face {
    font-display: swap; 
    font-family: 'SFProDisplay';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/SFProDisplay-Medium.woff') format('woff'); 
}
@font-face {
    font-display: swap; 
    font-family: 'SFProDisplay';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/SFProDisplay-Medium.woff2') format('woff2'); 
}
@font-face {
    font-display: swap; 
    font-family: 'SFProDisplay';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/SFProDisplay-SemiboldItalic.woff') format('woff'); 
}
@font-face {
    font-display: swap; 
    font-family: 'SFProDisplay';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/SFProDisplay-SemiboldItalic.woff2') format('woff2'); 
}
@font-face {
    font-display: swap; 
    font-family: 'SFProDisplay';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/SFProDisplay-Bold.woff') format('woff'); 
}
@font-face {
    font-display: swap; 
    font-family: 'SFProDisplay';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/SFProDisplay-Bold.woff2') format('woff2'); 
}
@font-face {
    font-display: swap; 
    font-family: 'SFProDisplay';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/SFProDisplay-HeavyItalic.woff') format('woff'); 
}
@font-face {
    font-display: swap; 
    font-family: 'SFProDisplay';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/SFProDisplay-HeavyItalic.woff2') format('woff2'); 
}
@font-face {
    font-display: swap; 
    font-family: 'SFProDisplay';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/SFProDisplay-BlackItalic.woff') format('woff'); 
}
@font-face {
    font-display: swap; 
    font-family: 'SFProDisplay';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/SFProDisplay-BlackItalic.woff2') format('woff2'); 
}



.container{
    width: 100%;
    max-width:1110px;
    margin: 0 auto;
}

.site-header{
    padding: 12px 0;
    background-color: #F8F8FA;
}
.site-header__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-header__first-form{
    display: flex;
    justify-content: center;
    margin-right: 70px;
}
.site-header__forms-wrapper{
    display: flex;
}
.site-header__operatorlar-select{
    margin: 0;
    padding: 10px 34px 10px 16px;
    font-family: "SFProDisplay";
    font-size: 14px;
    letter-spacing: -0.2px;
    font-weight: 400;
    box-sizing: border-box;
    border: none;
    border-right: 1px solid #979797;
}
.site-header__first-form{
    padding: 0;
    position: relative;
    box-sizing: border-box;
    
}
.custom-first__arrow{
    position: absolute;
    top: 7px;
    left: 128px;
}
.site-header__operatorlar-input{
    padding: 10px 40px 10px 15px;
    width: 261px;
    font-family: "SFProDisplay";
    font-size: 14px;
    letter-spacing: -0.2px;
    font-weight: 400;
    box-sizing: border-box;
    border: none;
    background-image: url("../images/search.svg");
    background-repeat: no-repeat;
    background-position: calc(100% - 10px);
}
.site-header__operatorlar-input::placeholder{
    font-size: 14px;
    opacity: 30%;
}
.site-header__operatorlar-service{
    margin-right: 14px;
    padding: 10px 31px;
    font-size: 14px;
    font-family: "SFProDisplay";
    font-weight: 400;
    letter-spacing: -0.2px;
    border: none;
    background-image: url("../images/phone-call.svg");
    background-repeat: no-repeat;
    background-position: calc(18px);
}
.site-header_second-form{
    position: relative;
}
.custom-second__arrow{
    position: absolute;
    top: 7px;
    left: 100px;
}

.site-header__user-service{
    padding: 10px 31px;
    font-size: 14px;
    font-family: "SFProDisplay";
    font-weight: 400;
    letter-spacing: -0.2px;
    border: none;
    background-image: url("../images/user.svg");
    background-repeat: no-repeat;
    background-position: calc(18px);
}
.custom-third__arrow{
    position: absolute;
    top: 7px;
    right: 4px;
}
@media only screen and (max-width: 1100px){
    .site-header{
        padding-left: 15px;
        padding-right: 15px;
    }
    .site-header__first-form{
        padding-bottom: 10px;
        margin: 0;  
        /* margin-right: 70px; */
    }
    .site-header__forms-wrapper{
        display: flex;
        flex-direction: column;
    }
    .custom-third__arrow{
        right: 140px;
    }
    .site-header__operatorlar-service{
        margin: 0;
        border-right: 1px solid #979797;
    }
    .hero-advs__list{
        display: flex;
        justify-content: center;
    }
    .hero-advs__item{
        margin-bottom: 15px;
    }
    
    .beeline-adv__wrapper{
        padding: 0 24px;
    }
} 
@media only screen and (max-width:800px){
    .site-header__wrapper{
        display: flex;
        flex-direction: column;
    }
    .site-header__forms-wrapper{
        width: 100%;
    }
    .site-header__logo-img{
        padding-bottom: 10px;
    }
    .site-header__first-form{
        padding-bottom: 5px;
        display: flex;
        flex-direction: column-reverse;
        margin: 0;
    }
    .site-header__operatorlar-select{
        margin: 0;
        border: none;
    }
    .site-header__operatorlar-input{
        width: 100%;
        margin-bottom: 5px;
    }
    .site-header_second-form{
        display: flex;
        flex-direction: column;
    }
    .site-header__operatorlar-service{
        border: none;
        margin-bottom: 5px;
        padding-left: 40px;
    }
    .site-header__user-service{
        padding-left: 40px;
    }
    .hero-advs__list{
        display: flex;
    }
    
    
    
}
.aside-hero{
    padding: 24px 0;
}
.hero-advs__list{
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.hero-advs__item{
    margin-right: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 160px;
    height: 50px;
    border-radius: 2px;
    background-color: #F8F8FA;
}
.beeline-adv{
    padding: 12px 0;
    background-color: #FCC400;
}
.beeline-adv__title{
    margin: 0;
    padding-bottom: 5px;
    font-family: "SFProDisplay";
    font-size: 30px;
    font-weight: 700;
    letter-spacing: -0.15px;
    color: #FFFFFF;
}
.beeline-adv__desc{
    margin: 0;
    font-family: "SFProDisplay";
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.08px;
    color: #FFFFFF;
}


