@font-face {
    font-display: swap; 
    font-family: 'SFProDisplay';
    font-style: normal;
    font-weight: 100;
    src: url('../fonts/SFProDisplay-UltralightItalic.woff') format('woff'); 
}
@font-face {
    font-display: swap; 
    font-family: 'SFProDisplay';
    font-style: normal;
    font-weight: 100;
    src: url('../fonts/SFProDisplay-UltralightItalic.woff2') format('woff2'); 
}
@font-face {
    font-display: swap; 
    font-family: 'SFProDisplay';
    font-style: normal;
    font-weight: 200;
    src: url('../fonts/SFProDisplay-ThinItalic.woff') format('woff'); 
}
@font-face {
    font-display: swap; 
    font-family: 'SFProDisplay';
    font-style: normal;
    font-weight: 200;
    src: url('../fonts/SFProDisplay-ThinItalic.woff2') format('woff2'); 
}
@font-face {
    font-display: swap; 
    font-family: 'SFProDisplay';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/SFProDisplay-LightItalic.woff') format('woff'); 
}
@font-face {
    font-display: swap; 
    font-family: 'SFProDisplay';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/SFProDisplay-LightItalic.woff2') format('woff2'); 
}
@font-face {
    font-display: swap; 
    font-family: 'SFProDisplay';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/SFProDisplay-Regular.woff') format('woff'); 
}
@font-face {
    font-display: swap; 
    font-family: 'SFProDisplay';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/SFProDisplay-Regular.woff2') format('woff2'); 
}
@font-face {
    font-display: swap; 
    font-family: 'SFProDisplay';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/SFProDisplay-Medium.woff') format('woff'); 
}
@font-face {
    font-display: swap; 
    font-family: 'SFProDisplay';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/SFProDisplay-Medium.woff2') format('woff2'); 
}
@font-face {
    font-display: swap; 
    font-family: 'SFProDisplay';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/SFProDisplay-SemiboldItalic.woff') format('woff'); 
}
@font-face {
    font-display: swap; 
    font-family: 'SFProDisplay';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/SFProDisplay-SemiboldItalic.woff2') format('woff2'); 
}
@font-face {
    font-display: swap; 
    font-family: 'SFProDisplay';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/SFProDisplay-Bold.woff') format('woff'); 
}
@font-face {
    font-display: swap; 
    font-family: 'SFProDisplay';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/SFProDisplay-Bold.woff2') format('woff2'); 
}
@font-face {
    font-display: swap; 
    font-family: 'SFProDisplay';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/SFProDisplay-HeavyItalic.woff') format('woff'); 
}
@font-face {
    font-display: swap; 
    font-family: 'SFProDisplay';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/SFProDisplay-HeavyItalic.woff2') format('woff2'); 
}
@font-face {
    font-display: swap; 
    font-family: 'SFProDisplay';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/SFProDisplay-BlackItalic.woff') format('woff'); 
}
@font-face {
    font-display: swap; 
    font-family: 'SFProDisplay';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/SFProDisplay-BlackItalic.woff2') format('woff2'); 
}



.ul,ol, li{
    list-style: none;
    padding: 0;
    margin: 0;
}
.img{
    text-decoration: none;
}
.container{
    width: 100%;
    max-width:1110px;
    margin: 0 auto;
}

.site-header{
    padding: 12px 0;
    background-color: #F8F8FA;
}
.site-header__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-header__first-form{
    display: flex;
    justify-content: center;
    margin-right: 70px;
}
.site-header__forms-wrapper{
    display: flex;
}
.site-header__operatorlar-select{
    margin: 0;
    padding: 10px 34px 10px 16px;
    font-family: "SFProDisplay";
    font-size: 14px;
    letter-spacing: -0.2px;
    font-weight: 400;
    box-sizing: border-box;
    border: none;
    border-right: 1px solid #979797;
}
.site-header__first-form{
    padding: 0;
    position: relative;
    box-sizing: border-box;
    
}
.custom-first__arrow{
    position: absolute;
    top: 7px;
    left: 128px;
}
.site-header__operatorlar-input{
    padding: 10px 40px 10px 15px;
    width: 261px;
    font-family: "SFProDisplay";
    font-size: 14px;
    letter-spacing: -0.2px;
    font-weight: 400;
    box-sizing: border-box;
    border: none;
    background-image: url("../images/search.svg");
    background-repeat: no-repeat;
    background-position: calc(100% - 10px);
}
.site-header__operatorlar-input::placeholder{
    font-size: 14px;
    opacity: 30%;
}
.site-header__operatorlar-service{
    margin-right: 14px;
    padding: 10px 31px;
    font-size: 14px;
    font-family: "SFProDisplay";
    font-weight: 400;
    letter-spacing: -0.2px;
    border: none;
    background-image: url("../images/phone-call.svg");
    background-repeat: no-repeat;
    background-position: calc(18px);
}
.site-header_second-form{
    position: relative;
}
.custom-second__arrow{
    position: absolute;
    top: 7px;
    left: 100px;
}

.site-header__user-service{
    padding: 10px 31px;
    font-size: 14px;
    font-family: "SFProDisplay";
    font-weight: 400;
    letter-spacing: -0.2px;
    border: none;
    background-image: url("../images/user.svg");
    background-repeat: no-repeat;
    background-position: calc(18px);
}
.custom-third__arrow{
    position: absolute;
    top: 7px;
    right: 4px;
}
@media only screen and (max-width: 1100px){
    .site-header{
        padding-left: 15px;
        padding-right: 15px;
    }
    .site-header__first-form{
        padding-bottom: 10px;
        margin: 0;  
    }
    .site-header__forms-wrapper{
        display: flex;
        flex-direction: column;
    }
    .custom-third__arrow{
        right: 140px;
    }
    .site-header__operatorlar-service{
        margin: 0;
        border-right: 1px solid #979797;
    }
    .hero-advs__list{
        display: flex;
        justify-content: center;
        margin: 0;
    }
    .beeline-adv__wrapper{
        padding: 0 24px;
    }
    .services-title{
        padding: 0 24px;
    }
    .news__title{
        padding: 0 24px;
    }
    .news__list-btn{
        max-width: 800px;
        
    }
    .news__list-btn__box{
        display: flex;
        justify-content: center;
    }
    .site-footer__wrapper{
        padding: 0 50px;
    }
    .site-footer__list{
        margin: 0 50px;
    }
    .site-footer__list-item:not(:last-child){
        margin-bottom: 30px;
    }
    .site-footer__language-select{
        margin-bottom: 15px;
    }
    
} 
@media only screen and (max-width:800px){
    .site-header__wrapper{
        display: flex;
        flex-direction: column;
    }
    .site-header__forms-wrapper{
        width: 100%;
    }
    .site-header__logo-img{
        padding-bottom: 10px;
    }
    .site-header__first-form{
        padding-bottom: 5px;
        display: flex;
        flex-direction: column-reverse;
        margin: 0;
    }
    .site-header__operatorlar-select{
        margin: 0;
        border: none;
    }
    .site-header__operatorlar-input{
        width: 100%;
        margin-bottom: 5px;
    }
    .site-header_second-form{
        display: flex;
        flex-direction: column;
    }
    .site-header__operatorlar-service{
        border: none;
        margin-bottom: 5px;
        padding-left: 40px;
    }
    .site-header__user-service{
        padding-left: 40px;
    }
    .aside-hero__wrapper{
        padding: 0 16px;
    }
    .services-wrapper{
        padding: 0 16px;
    }
    .news__wrapper{
        padding: 0 16px;
    }
    .news__list-btn{
        max-width: 600px;
    }
    .site-footer__start{
        margin-bottom: 20px;
    }
}
.aside-hero{
    padding: 24px 0;
}
.hero-advs__list{
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}
.hero-advs__item{
    /* margin-right: 23px; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 160px;
    height: 50px;
    border-radius: 2px;
    background-color: #F8F8FA;
}
.beeline-adv{
    padding: 12px 0;
    background-color: #FCC400;
}
.beeline-adv__title{
    margin: 0;
    padding-bottom: 5px;
    font-family: "SFProDisplay";
    font-size: 30px;
    font-weight: 700;
    letter-spacing: -0.15px;
    color: #FFFFFF;
}
.beeline-adv__desc{
    margin: 0;
    font-family: "SFProDisplay";
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.08px;
    color: #FFFFFF;
}
.services{
    padding: 50px 0;
    background-color: #F8F8FA;
}
.services-title{
    margin-top: 0;
    margin-bottom: 30px;
    font-family: "SFProDisplay";
    font-size: 30px;
    font-weight: 700;
    letter-spacing: -0.15px;
    color: #000000;
}
.services-list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    padding: 0;
    margin: 0;
}
.services-list__item{
    width: 160px;
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
}
.services-list__item-wrapper{
    padding-top: 38px;
    padding-bottom: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}
.services-list__img{
    margin-bottom: 22px;
}
.services-list__title{
    margin: 0;
    font-family: "SFProDisplay";
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.11px;
    color: #000000;
}
.news{
    padding-bottom: 68px;
    background-color: #F8F8FA;
}
.news__wrapper{
    margin: 0;
}

.news__list{
    margin: 0;
    margin-bottom: 33px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}
.news__title{
    margin: 0;
    margin-bottom: 30px;
    font-family: "SF Pro Display";
    font-size: 30px;
    font-weight: 700;
    letter-spacing: -0.15px;
}
.news__list-item{
    width: 100%;
    max-width: 350px;
    border-radius: 4px ;
    background-color: #FFFFFF;
}
.news__list-item__img{
    width: 100%;
}
.news__list-desc__link{    
    display: inline-block;
    padding: 36px 21px 20px 21px;
    font-family: "SF Pro Display";
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.11px;
    line-height: 26px;
    text-decoration: none;
    color: inherit;
}
.news__list-desc__link:hover{
    opacity: 30%;
}
.news__list-date__box{
    padding: 21px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.news__list-date::before{
    display: inline-block;
    margin: 0;
    content: "";
    width: 350px;
    height: 1px;
    background-color: #979797;
}
.news__list-date::before:visited{
    opacity: 30%;
}
.news__list-info{
    font-family: "SF Pro Display";
    font-size: 16px;    
    font-weight: 400;
    letter-spacing: -0.23px;
    color: #000000;
}
.news__list-info:visited{
    opacity: 30%;
}
.news__list-views{
    font-family: "SF Pro Display";
    font-size: 16px;    
    font-weight: 400;
    letter-spacing: -0.23px;
    color: #000000;
}
.news__list-views:visited{
    opacity: 30%;
}
.news__list-views::before{
    display: inline-block;
    content: "";
    width: 22px;
    height: 13px;
    background-image: url("../images/eye-icon.svg");
    background-repeat: no-repeat;
    background-position: calc();
}
.news__list-btn{
    padding: 18px 0;
    width: 100%;
    font-family: "SF Pro Display";
    font-size: 16px;    
    font-weight: 500;
    letter-spacing: -0.23px;
    background-color: #3A4357;
    opacity: 20%;
    color: #FFFFFF;
}
.site-footer{
    padding-top: 48px;
    padding-bottom: 34px;
}
.site-footer__list{
    padding: 0;
    padding-bottom: 50px ;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.site-footer__list-item{
    display: flex;
    flex-direction: column;
    
}
.site-footer__list-item:not(:last-child){
    width: 100%;
    max-width: 168px;
}
.site-footer__list-item:last-child{
    width: 100%;
    max-width: 254px;
}
.site-footer__item-subtitle{
    margin-bottom: 26px;
    font-family: "SF Pro Display";
    font-size: 16px;    
    font-weight: 500;
    letter-spacing: 0.09px;
    color: #000000;
}
.site-footer__item-link{
    font-family: "SF Pro Display";
    font-size: 14px;    
    font-weight: 400;
    letter-spacing: 0.08px;
    color: #000000;
    opacity: 30%;
    text-decoration: none;
}
.site-footer__item-link:not(:last-child){
    margin-bottom: 16px;
}
.site-footer__item-mobile{
    margin-bottom: 15px;
    font-family: "SF Pro Display";
    font-size: 25px;    
    font-weight: 500;
    line-height: 33px;
    color: #000000;
    text-decoration: none;
}
.site-footer__item-address{
    font-family: "SF Pro Display";
    font-size: 14px;    
    font-weight: 400;
    line-height: 24px;
    color: #000000;
    opacity: 30%;
    text-decoration: none;
}
.site-footer__wrapper{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.site-footer__extra-info{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 35px;
} 
.site-footer__language-select{
    padding: 10px 15px;
    margin-right: 91px;
    font-family: "SF Pro Display";
    font-size: 14px;    
    font-weight: 400;
    letter-spacing: -0.2px;
    color: #000000;
    border: none;
    background-color: #F8F8FA;
    stroke: #3A4357;
}
.site-footer__social-links{
    display: flex;
    align-items: center;
}
.social-links-item-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #F8F8FA;
    text-decoration: none;
}
.social-links-item-link:not(:last-child){
    margin-right: 16px;
}
.site-footer__copyright{
    font-family: "SF Pro Display";
    font-size: 14px;    
    font-weight: 400;
    letter-spacing: 0.08px;
    opacity: 30%;
}
.site-footer__end{
    display: flex;
    flex-direction:column ;
}
.site-footer__download-note{
    margin-left: 10px;
    margin-bottom: 15px;
    font-family: "SF Pro Display";
    font-size: 18px;    
    font-weight: 500;
    letter-spacing: 0.1px;
}



